.blogBanner{

	margin-top: 20px;
	width: 100%;
	min-height: 100px;
	background-color: #327473;
}

.title{

	background-color: #761111;
}

.subtitle{

	background-color: #129912;
}

.bloggingBody{

	margin-top: 20px;
	width: 100%;
	background-color: #327473;
	overflow: hidden;

}

.theBlog{

	float: left;
	width: 69%;
	background-color: #888888;

	text-align: left;
	font-size: 20px;
}

.blogArchive {

	float: left;
	width: 27%;
	margin-left: 2%;
	min-height: 200px;
	background-color: #451299;

}