
.homeContainer{

	margin-top: 30px;
	width: 100%;
	min-height: 100px;
	background-color: #000000;

}

.homeBox {
	
	display: inline-block;
	width: 49%;
	background-color: #462678;
	min-height: 100px;
}

.clear {
    clear: both;
}